#define ChangeDane             "models/bots/Sniper/bot_Sniper.mdl"
#define DEATH   "mvm/sentrybuster/mvm_sentrybuster_explode.wav"
#define LOOP    "mvm/giant_heavy/giant_heavy_loop.wav"
#define OutbackIntellectial 645
#define PLUGIN_VERSION "1.0"
#define Panama 109
#define ROBOT_CLASS "Sniper"
#define ROBOT_DESCRIPTION "Explosive HS, Cozy Camper, Shahanshah"
#define ROBOT_NAME	"Jbird"
#define ROBOT_ON_DEATH "Jbird has explosive headshots\nCounter-snipe or backstab sniper bots while they are distracted"
#define ROBOT_ROLE "Sniper"
#define ROBOT_SUBCLASS "Sniper"
#define SPAWN   "#mvm/giant_heavy/giant_heavy_entrance.wav"
#define Veil 393
