#define BlackPaint 	1315860.0
#define CameraBeard 103
#define DEATH   "mvm/sentrybuster/mvm_sentrybuster_explode.wav"
#define FrontLineRecorder 302
#define LOOP    "mvm/giant_heavy/giant_heavy_loop.wav"
#define MODEL             "models/bots/spy/bot_spy.mdl"
#define PLUGIN_VERSION "1.0"
#define PinkPaint	16738740.0
#define ROBOT_CLASS "Spy"
#define ROBOT_COST 1.5
#define ROBOT_DESCRIPTION "Rapid fire kunai"
#define ROBOT_NAME	"StabbyStabby"
#define ROBOT_ON_DEATH "StabbyStabby's knife has rapid swings\nPyro's flames & airblast can shut down spies"
#define ROBOT_ROLE "Spy"
#define ROBOT_SUBCLASS "Spy"
#define ROBOT_TIPS "Infinite Cloak\nRapid swings\nHeal from sapping buildings"
#define Rogue 483
#define SPAWN   "#mvm/giant_heavy/giant_heavy_entrance.wav"
#define SPY_SPAWN_SOUND1		"vo/mvm_spy_spawn01.mp3"
#define SPY_SPAWN_SOUND2		"vo/mvm_spy_spawn02.mp3"
#define SPY_SPAWN_SOUND3		"vo/mvm_spy_spawn03.mp3"
#define SPY_SPAWN_SOUND4		"vo/mvm_spy_spawn04.mp3"
