#define AntarcticEyewear 30977
#define Bandana 30397
#define DEATH	"mvm/sentrybuster/mvm_sentrybuster_explode.wav"
#define GDEKNIGHT		"models/bots/demo_boss/bot_demo_boss.mdl"
#define LEFTFOOT        ")mvm/giant_demoman/giant_demoman_step_01.wav"
#define LEFTFOOT1       ")mvm/giant_demoman/giant_demoman_step_03.wav"
#define LOOP	"mvm/giant_demoman/giant_demoman_loop.wav"
#define PLUGIN_VERSION "1.0"
#define RIGHTFOOT       ")mvm/giant_demoman/giant_demoman_step_02.wav"
#define RIGHTFOOT1      ")mvm/giant_demoman/giant_demoman_step_04.wav"
#define ROBOT_CLASS "Demoman"
#define ROBOT_DESCRIPTION "Mass Scottish Resistance"
#define ROBOT_NAME	"Dreysidel"
#define ROBOT_ON_DEATH "Short circuit, quickie bomb launcher, scorch shot and detonator counters this robot"
#define ROBOT_ROLE "Damage"
#define ROBOT_SUBCLASS "Grenades"
#define ROBOT_TIPS "Set up multiple traps!"
#define SPAWN	"#mvm/giant_heavy/giant_heavy_entrance.wav"
#define SpookySleeves 925
